[defaults]
inventory = inventory/local/hosts.ini
roles_path = ./roles
vault_password_file = .vault_pass
interpreter_python = auto_silent
nocows = 1

[ssh_connection]
pipelining = True
control_path = /tmp/ansible-ssh-%%h-%%p-%%r
