# Honcho runtime environment for Noesis
HONCHO_ENABLED={{ honcho_enabled | bool | lower }}
HONCHO_ENVIRONMENT={{ honcho_environment }}
HONCHO_WORKSPACE_ID={{ honcho_workspace_id }}
HONCHO_API_ENDPOINT_REF={{ honcho_api_endpoint_ref }}
HONCHO_API_KEY_REF={{ honcho_api_key_ref }}
HONCHO_MCP_TRANSPORT={{ honcho_mempalace_transport }}
HONCHO_STAGE_DIR={{ honcho_stage_dir }}
HONCHO_RUNTIME_DIR={{ honcho_runtime_dir }}

